h1 {
    background-color: blue;
    color: white;
    text-align: center;
    margin: auto;
}

.search-card {
    width: 40%;
    padding: 0 0 20px 0;
    border-bottom: solid 5px black;
}

.city-results {
    border: solid 1px black;
    padding: 15%;
    margin: auto;
    float: right;
}